.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #292929;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    text-align: center;
    font-size: 18px;
}
a{
    color: #fff;
}
ul{
    text-align: center;
    list-style: none;
}
